#add-player {
    mat-icon {
        margin-bottom: 3px;
    }
}
.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .players {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .player {
            margin: 1rem;
            width: 180px;
            .mat-card-avatar{
                background-size: contain;
                border-radius: 0;
            }
            .mat-card-content {
                display: flex;
                justify-content: space-between;
                .mat-chip-list {
                    display: flex;
                    justify-content: center;
                }
            }
            
            .mat-card-content {
                margin-bottom: 0;
            }
            .mat-card-actions {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
    form {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .buttons {
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                margin: 5px;
            }
        }
    }
    .endpoints {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
}

.spacer {
    flex: 1 1 auto;
}
