.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    .players {
        display: flex;
        .player {
            margin: 1rem;
            display: flex;
            flex-direction: column;
        }
    }
    form {
        max-width: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        .buttons {
            display: flex;
            justify-content: center;
            width: 100%;
            button {
                margin: 5px;
            }
        }
    }
    .endpoints {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
    }
}

.spacer {
    flex: 1 1 auto;
}