<mat-toolbar>
  <span>Smashed Bros</span>
  <span class="spacer"></span>
  <button mat-button (click)="openAddPlayer()">Add Player</button>
</mat-toolbar>
<div class="content-wrapper">
  <div class="players">
    <mat-card class="player" *ngFor="let player of players$ | async">
      <mat-card-header>
        <div mat-card-avatar [style.background-image]="'url(assets/smash-icons/' + player.main.icon + '.png)'"></div>
        <mat-card-title>{{player.tag}}</mat-card-title>
        <mat-card-subtitle>{{player.name}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-chip-list>
          <mat-chip>{{player.elo}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
  </div>
  <form [formGroup]="gameInput" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Player 1" formControlName="player1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Player 1 Score" type="number" formControlName="scorePlayer1">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Player 2" formControlName="player2">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Player 2 Score" type="number" formControlName="scorePlayer2">
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button (click)="gameInput.reset()" type="button">Reset</button>
      <button mat-raised-button color="accent" (click)="loadCurrentGame()" type="button">Load Current</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!gameInput.valid">Submit</button>
    </div>
  </form>
  <div class="endpoints">
    <h4>Endpoints</h4>
    <ul>
      <li>https://us-east1-smashedbros-43505.cloudfunctions.net/player1</li>
      <li>https://us-east1-smashedbros-43505.cloudfunctions.net/player2</li>
      <li>https://us-east1-smashedbros-43505.cloudfunctions.net/scorePlayer1</li>
      <li>https://us-east1-smashedbros-43505.cloudfunctions.net/scorePlayer2</li>
    </ul>
  </div>
</div>